node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env

# macOS
.DS_Store
TODO.md

# 只保留app.json/dist.dgz
dgz/*
!dgz/build
dgz/build/*
!dgz/build/outputs
dgz/build/outputs/*
!dgz/build/outputs/app.json
!dgz/build/outputs/dist.dgz
# 只保留app.json/dist.dgz